In [53]:
import pandas as pd

In [54]:
df1 = pd.read_csv('tables/marketing_campaign.csv')

In [55]:
df1 = pd.read_csv('tables/marketing_campaign.csv', header = 0, sep = ',')

In [56]:
df1.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True

In [57]:
df1.shape

(10037, 6)

In [58]:
df2 = pd.read_csv('tables/subscribers.csv')

In [59]:
df2 = pd.read_csv('tables/subscribers.csv', header = 0, sep = ',')

In [60]:
df2.head()

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True

In [61]:
df2.shape

(10037, 5)

In [62]:
df3 = pd.read_csv('tables/users.csv')

In [63]:
df3 = pd.read_csv('tables/users.csv', header = 0, sep = ',')

In [64]:
df3.head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [65]:
df3.shape

(10037, 3)

In [66]:
from pandas.core.reshape.merge import merge
df4 = df1.merge(df2, how = 'left', on = 'user_id')

df4.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True

In [67]:
df5 = df4.merge(df3, how = 'left', on = 'user_id')

df5.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,36-45 years,English

In [68]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 941.1+ KB

In [69]:
df5.shape

(10037, 12)

In [70]:
df5.describe()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
count,10037,10021,10022,10037,10037,10022,1856,1856,577,1856,10037,10037
unique,10037,31,5,2,4,2,5,31,115,2,7,4
top,a1000,1/15/18,House Ads,control,English,False,Instagram,1/16/18,4/2/18,True,19-24 years,English
freq,1,789,4733,5091,9793,8946,600,163,15,1279,1682,9275

In [71]:
df5['marketing_channel'].nunique()

5

In [72]:
df5['marketing_channel'].unique()

array(['House Ads', 'Push', 'Facebook', 'Instagram', 'Email', nan],
      dtype=object)

In [73]:
df5['marketing_channel'].value_counts()

marketing_channel
House Ads    4733
Instagram    1871
Facebook     1860
Push          993
Email         565
Name: count, dtype: int64

In [74]:
df5['marketing_channel'].value_counts(normalize = True).head()

marketing_channel
House Ads    0.472261
Instagram    0.186689
Facebook     0.185592
Push         0.099082
Email        0.056376
Name: proportion, dtype: float64

In [75]:
df5.sort_values(by = 'date_subscribed', ascending = True).head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English
1037,a2037,1/7/18,Instagram,control,English,False,Push,1/1/18,NaN,True,24-30 years,English
416,a1416,1/1/18,Facebook,personalization,English,True,Facebook,1/1/18,NaN,True,24-30 years,English
354,a1354,1/1/18,Email,personalization,Arabic,True,Email,1/1/18,NaN,True,0-18 years,Arabic
887,a1887,1/15/18,Instagram,personalization,English,True,Instagram,1/1/18,NaN,True,55+ years,English

In [76]:
df6 = df5.filter(items = ['users_id', 'is_retained', 'age_group', 'language_preferred'])

df6.head()

  is_retained    age_group language_preferred
0        True   0-18 years            English
1        True  19-24 years            English
2        True  24-30 years            English
3        True  30-36 years            English
4        True  36-45 years            English

In [77]:
df6 = df6.query('`is_retained` == True')
df6[['age_group','language_preferred']].value_counts()

age_group    language_preferred
19-24 years  English               304
24-30 years  English               250
0-18 years   English               210
30-36 years  English               114
45-55 years  English               108
36-45 years  English               107
55+ years    English                86
24-30 years  German                 15
19-24 years  German                 11
             Spanish                10
0-18 years   German                 10
30-36 years  Spanish                 7
45-55 years  Spanish                 6
0-18 years   Spanish                 6
36-45 years  Spanish                 5
24-30 years  Spanish                 5
55+ years    Spanish                 5
45-55 years  German                  3
0-18 years   Arabic                  3
24-30 years  Arabic                  3
45-55 years  Arabic                  2
36-45 years  German                  2
55+ years    Arabic                  2
             German                  2
36-45 years  Arabic                  1
19-24 years  Arabic                  1
30-36 years  German                  1
Name: count, dtype: int64